{% extends 'base.html' %}
{% load widget_tweaks %}
{% block content %}
<div style="padding-top: 20px; padding-bottom: 20px; display: flex; align-items: center; justify-content: center">
  <form method="POST" class="form-group my-form" enctype="multipart/form-data">
    {% csrf_token %}
    <div  class="mb-5">
      <label for="groupes" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Select a Group</label>
      {% render_field form.group class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500 " %} 
    </div>
    <div class="mb-5">
      {% render_field form.file class="block w-full text-sm text-gray-900 border border-gray-300 rounded-lg cursor-pointer bg-gray-50 dark:text-gray-400 focus:outline-none dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400" aria-describedby="file_input_help" id="file_input" type="file" %}
    </div>
    <div class="mb-5"> 
      <button type="submit" value="submit" class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800">Submit</button>
    </div>
  </form>
</div>
{% endblock %}
