{% extends 'base.html' %}
{% load widget_tweaks %}
{% block content %}
<div class="container mx-auto mt-20 py-2">
    <h1 class="text-white font-bold">{{group.name}}</h1>
    <div class="grid grid-cols-2 gap-5 p-4">
      <label class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"></label>
      <div class="col-span-1 md:col-span-2 bg-white rounded-lg shadow dark:bg-gray-800 p-4">
        <h2 class="text-3xl font-bold leading-none text-gray-900 dark:text-white mb-4">Members</h2>
        <ul class="list-group">
          {% for user in users %}
            <li class="list-group-item py-3 sm:py-4">
              <div class="flex items-center">
                <div class="inline-flex items-center justify-between px-4 py-2 bg-gray-200 rounded-lg text-white dark:text-gray-300">
                  <span>- {{ user.username }}</span>
                </div>
              </div>
            </li> 
          {% endfor %}
        </ul>
      </div>
    </div>
    <form method="POST" class="form-group my-form p-4">
      {% csrf_token %}
      <label class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Edit Group Name</label>
      {% render_field form.name class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="Group x" %} 
      <label class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Edit Members (press ctrl to select multi)</label>
      {% render_field form.users class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" %}
      <label class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"></label>
      <button type="submit" value="submit" class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800">Checkout</button>
      <a href="{% url 'delete-group' group.id %}" style="background-color: #ff3333;" class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2 dark:hover:bg-blue-700 focus:outline-none dark:focus-ring-blue-800">Delete Group</a>
    </form>
    {% for file in files %}
    <div style="padding-top: 20px; padding-bottom: 20px; display: flex; align-items: center; justify-content: center">
        <div class="w-full max-w-sm p-6 bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700">
            <p class="mb-2 text-1xl font-bold tracking-tight text-gray-900 dark:text-white">{{file.file.name|slice:"8:"}}</p>
            <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">owner: {{file.owner}}</p>
            <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">group: {{file.group}}</p>
            <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">created: {{file.created}}</p>  
            {% if not file.filelock %}
            <p class="mb-2 text-1xl font-bold tracking-tight text-gray-900 dark:text-white">
                <svg width="20" height="20" viewBox="0 0 20 20">
                    <path d="M10 20c5.523 0 10-4.477 10-10S15.523 0 10 0 0 4.477 0 10s4.477 10 10 10zm0-2a8 8 0 1 0 0-16 8 8 0 0 0 0 16zm5-9l-5-3L5 11V8l5 3 5-3v3z" fill="#00cc44"/> 
                </svg>
                Free
            </p>
            {% else %}
            <p class="mb-2 text-1xl font-bold tracking-tight text-gray-900 dark:text-white">
                <svg width="20" height="20" viewBox="0 0 20 20">
                    <path d="M10 20c5.523 0 10-4.477 10-10S15.523 0 10 0 0 4.477 0 10s4.477 10 10 10zm0-2a8 8 0 1 0 0-16 8 8 0 0 0 0 16z" fill="#ff3333"/>
                    <path d="M15.728 9.686l-5-5a1.003 1.003 0 0 0-1.414 0l-5 5a1.002 1.002 0 0 0 1.414 1.414L10 8.586l4.314 4.314a1.002 1.002 0 0 0 1.414-1.414z" fill="#ffffff"/>
                </svg>
                Reserved by {{file.filelock.user.username}}
            </p>          
            {% endif %}
            <div class="items-center justify-between hidden w-full md:flex md:w-auto md:order-1">
                <a href="{% url 'checkin' file.id %}" class="inline-flex items-center px-3 py-2 text-sm font-medium text-center text-white bg-blue-700 rounded-lg hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
                    Check in
                    <svg class="rtl:rotate-180 w-3.5 h-3.5 ms-2" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 10">
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 5h12m0 0L9 1m4 4L9 9"/>
                    </svg>
                </a>
                <input name="selected_files" type="checkbox"  value="{{ file.id }}" class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600">    
            </div>    
        </div>
    </div>
    {% endfor %}
  </div>
  
{% endblock %}